@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Dexmoor.BusinessHours.Core.ViewModels
@{
    Layout = null;
    @*var businessHours = Model.Content.GetPropertyValue<List<DaysOfBusinessViewModel>>("youPropertyAlias");*@
    var businessHours = Model.Content.GetPropertyValue<List<DaysOfBusinessViewModel>>("businessHours");
    @* var specialBusinessHours = Model.Content.GetPropertyValue<List<SpecialDaysOfBusinessViewModel>>("youPropertyAlias"); *@
    var specialBusinessHours = Model.Content.GetPropertyValue<List<SpecialDaysOfBusinessViewModel>>("specialBusinessHours");

}
@*StronglyTyped Business Hours Example*@
<table>
    <tbody>
        @foreach (var day in businessHours)
        {
            <tr>
                <td>@day.DayOfTheWeek</td>
                <td>@day.IsOpen</td>
                <td>
                    @foreach (var openingHours in day.HoursOfBusiness)
                    {
                        <span>
                            @openingHours.OpensAt @openingHours.ClosesAt
                        </span>
                        <br />
                    }

                </td>
            </tr>
        }
    </tbody>
</table>

@*StronglyTyped Special Business Hours Example*@
<table>
    <tbody>
        @foreach (var day in specialBusinessHours)
        {
            <tr>
                <td>@day.Date.ToShortDateString()</td>
                <td>@day.IsOpen</td>
                <td>
                    @foreach (var openingHours in day.HoursOfBusiness)
                    {
                        <span>
                            @openingHours.OpensAt @openingHours.ClosesAt
                        </span>
                        <br />
                    }

                </td>
            </tr>
        }
    </tbody>
</table>





