@inherits UmbracoViewPage<Homepage>

<h1>Modelsbuilder Business Hours Example</h1>
<table>
    <tbody>
        @foreach (var day in Model.BusinessHours)
        {
            <tr>
                <td>@day.DayOfTheWeek</td>
                <td>@(day.IsOpen ? "Open" : "Closed")</td>
                <td>
                    @foreach (var openingHours in day.HoursOfBusiness)
                    {
                        <span>
                            @openingHours.OpensAt @openingHours.ClosesAt @(openingHours.ByAppointmentOnly ? "Appointment Open":string.Empty)
                        </span>
                        <br />
                    }

                </td>
            </tr>
        }
    </tbody>
</table>

<h1>Modelsbuilder Special Business Hours Example</h1>

<table>
    <tbody>
        @foreach (var day in Model.SpecialBusinessHours)
        {
        <tr>
            <td>@day.Date.ToShortDateString()</td>
            <td>@(day.IsOpen ? "Open" : "Closed")</td>
            <td>
                @foreach (var openingHours in day.HoursOfBusiness)
                {
                <span>
                    @openingHours.OpensAt @openingHours.ClosesAt @(openingHours.ByAppointmentOnly ? "Appointment Open" : string.Empty)
                </span>
                    <br />
                }

            </td>
        </tr>
        }
    </tbody>
</table>
