@inherits UmbracoViewPage<Homepage>

    @*Modelsbuilder Business Hours Example*@
    <table>
        <tbody>
            @foreach (var day in Model.BusinessHours)
            {
            <tr>
                <td>@day.DayOfTheWeek</td>
                <td>@day.IsOpen</td>
                <td>
                    @foreach (var openingHours in day.HoursOfBusiness)
                    {
                    <span>
                        @openingHours.OpensAt @openingHours.ClosesAt
                    </span>
                    <br />
                    }

                </td>
            </tr>
            }
        </tbody>
    </table>

    @*Modelsbuilder Special Business Hours Example*@
    <table>
        <tbody>
            @foreach (var day in Model.SpecialBusinessHours)
            {
            <tr>
                <td>@day.Date.ToShortDateString()</td>
                <td>@day.IsOpen</td>
                <td>
                    @foreach (var openingHours in day.HoursOfBusiness)
                    {
                    <span>
                        @openingHours.OpensAt @openingHours.ClosesAt
                    </span>
                    <br />
                    }

                </td>
            </tr>
            }
        </tbody>
    </table>
